.content {
  position: relative;
}
 
.item {
  width: 105px;
  height: 105px;
  background-color: forestgreen;
  position: absolute;
}

.item2 {
  background-color: orange;
}

.item3 {
  background-color: blue;
}
